{% extends 'generator/base.html' %}
{% block content %}
<div class="author">
<h3>Author: NAME USERNAME</h3>
<p>🔐 Название приложения: "SecurePassGen"<br>

    <br>🌟 Описание:
"SecurePassGen" - это удобное приложение для генерации надежных паролей по вашим требованиям. Вы можете легко создавать пароли длиной от 6 до 14 символов, состоящие исключительно из букв в нижнем регистре. Однако, если вы захотите усилить безопасность вашего пароля, вы всегда можете добавить в него заглавные буквы, цифры или специальные символы - в одну из комбинаций или сразу все сразу, на ваш выбор!<br>

<br>🛡️ Функции:<br>

<br>Генерация паролей длиной от 6 до 14 символов.
Возможность добавления заглавных букв, цифр и специальных символов.
Персонализация пароля в соответствии с требованиями безопасности.
Простой и интуитивно понятный интерфейс для удобства использования.
Гарантированная безопасность созданных паролей для защиты вашей конфиденциальной информации.
💡 Начните использовать "SecurePassGen" сегодня и создавайте надежные пароли по вашему усмотрению, обеспечивая безопасность ваших онлайн аккаунтов! 🌐🔒</p>
    <br>
    <p><a href="{% url 'home' %}">Вернуться на главную</a> </p>
</div>
{% endblock %}